/* 최상위 레이아웃 콘테이너 */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}


/* 상단 메뉴바 */
.top-menu-area {
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #6495ED;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}


/* 프로젝트 리스트 페이지 ================================== */
.projectList-area {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #6495ED;
  border-right: 1px solid #6495ED;
  padding: 1rem;
}
.projectList-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.projectList-content {
  flex-grow: 1;
  border: 1px solid #eee;
  border-radius: 1rem;
  box-shadow: 0 0 5px #999;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 1rem;
}
#project-create-btn {
  width: 15rem;
  height: 3rem;
  background-color: #6495ED;
  color: white;
  font-size: 1.4rem;
  border-radius: 1rem;
  margin-left: auto;
}
#project-create-btn:hover {
  background-color: #6495EDcc;
  text-shadow: 0 0 3px #fff;
}
.projectList-content > h1, h2 {
  font-size: 3rem;
  padding-left: 1rem;
  margin: 0;
}
.projectList-content hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 0.6rem 0;
}
#project-list {
  position: relative;
  height: 60rem;
  overflow-y: auto;
  padding: 1rem 2rem;
  background-color: #6495ED22;
  border-radius: 1rem;
  box-shadow: 0 0 3px #999;
}
#project-list::-webkit-scrollbar {
  display: none;
}
#project-list ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#project-list li {
  border-radius: 1rem;
  margin: 0.6rem 0;
}
#project-list li > div {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}
#project-list li> div:first-child h2 {
  width: 30%;
}
#project-list li > div:last-child {
  border: none;
}
#project-list li > div h1, h2, p {
  font-size: 1.6rem;
  margin: 0;
}
#project-list li > div p {
  display: inline-block;
  width: 15%;
  text-align: center;
  border-right: 1px solid #ccc;
}
#project-list li > div p:not(#project-list li > div p:first-child) {
  border-left: 1px solid #ccc;
}
.project-list-data {
  font-family: Juache;
  font-weight: lighter;
  font-size: 2.4rem;
}
.project-on {
  border: 2px solid #00aa00;
  cursor: pointer;
}
.project-on:hover {
  box-shadow: 0 0 3px #00aa00;
  background-color: #fff;
}
.project-off {
  cursor: pointer;
  border: 2px solid #dc3545;
}
.project-off:hover {
  box-shadow: 0 0 3px #dc3545;
  background-color: #fff;
}

#project-create {
  position: fixed;
  display: none;
  width: 60rem;
  height: auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 1rem;
  padding: 1rem 0;
  top: 10%;
  left: 50%;
  box-shadow: 0 0 5px #ccc;
  transform: translatex(-50%);
}
#project-create h1 {
  padding-left: 1rem;
}
.create-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0.4rem 0;
  padding: 0 1rem;
}
.create-input label {
  width: 10rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: #aaa;
  border-radius: 0.6rem;
  color: white;
  height: 3rem;
  line-height: 3rem;
}
.create-input input[type=text],
.create-input input[type=date] {
  width: calc(100% - 12rem);
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  height: 3rem;
}
.create-input input[type=date] {
  width: 20rem;
}
.create-btns {
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
}
#create-btn,
#create-btn-close {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  background-color: #6495ED;
  margin-right: 1rem;
  border-radius: 0.6rem;
}
#create-btn:hover,
#create-btn-close:hover {
  background-color: #6495edcc;
}
@media (width <= 1000px) {
  .projectList-area {
    width: 100%;
    border: none;
  }
}/* ==================================================== */


/* 프로젝트 페이지 ===================================== */
.content-area {
  width: 70%;
  min-width: 100rem;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
}
.content.row {
  flex-direction: row;
  gap: 1rem;
}
.content.col {
  flex-direction: column;
  gap: 1rem;
}
.content:first-child {
  background-color: #fffafa;
  border-left: 1px solid #ccc;
}
.content:last-child {
  border-right: 1px solid #ccc;
}


.calendar-container { /* 달력 콘테이너 */
	position: relative;
  width: 100%;
  height: 60%;
  box-shadow: 0 0 3px #ccc;
}
.calendar-descript {
  width: 100%;
  height: 3rem;
}
.calendar-descript div {
  display: flex;
  gap: 2rem;
  background-color: #333;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
}
.cal-descript {
  font-size: 1.4rem;
}
.cal-descript.green {
  color: green;
}
.cal-descript.orange {
  color: orange;
}
.cal-descript.blue {
	color: #6495ED;
	cursor: pointer;
}
#member_name {
	margin-left: auto;
}
#member_name::after {
	content: ' ●';
}


.project-members { /* 프로젝트 멤버 */
	width: 100%;
	height: 10%;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
	overflow: hidden;
}
.project-members h1 {
	padding-left: 1rem;
	font-size: 1.4rem;
	color: #6495ed;
	background: #333;
}
.project-members-list {
	width: 100%;
	height: calc(100% - 1.4rem);
	padding: 1rem;
	background: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.2rem;
	flex-wrap: wrap;
}
.project-members-list button {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.2rem 1rem;
	background: #6495ed;
	border: 1px solid #ccc;
	border-radius: 1rem;
	margin: 0;
	color: white;
}


.weather-container { /* 날씨 콘테이너 */
  width: 100%;
  height: 30%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}


.worklist-container { /* 업무 리스트 */
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 0 5px #ccc;
}
.worklist-header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.worklist-header-project-name p {
  display: inline-block;
  background-color: #6495ED;
  padding: 0.4rem 1rem;
  color: white;
  border-radius: 1rem;
}
.worklist-header-project-name h1 {
  padding: 0.4rem 1rem;
}
.worklist-content-container {
  width: 100%;
  height: calc(100% - 8rem);
  gap: 1rem;
}
.worklist-content {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  border: 1px solid #ccc;
}
.worklist-content-header {
  width: 100%;
  height: 3rem;
  background-color: #6495ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  align-content: center;
}
.worklist-content-header p {
  font-size: 1.4rem;
}
.worklist-content-header a {
  font-size: 1.4rem;
  height: 2.4rem;
  width: 10rem;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.worklist-content-header a:hover {
  background-color: #eee;
}
.worklist-content-main {
  width: 100%;
  height: calc(100% - 3rem);
  max-height: 70rem;
  min-height: 70rem;
  overflow-y: auto;
  padding: 1rem;
  gap: 1rem;
}
.worklist-content-main::-webkit-scrollbar {
  display: none;
}
.worklist-content-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.worklist-content-table tr:not(.worklist-content-table tr:first-child):hover {
  background-color: #d8e3eb;
  cursor: pointer;
}
.worklist-content-table th, td {
  border: 1px solid #ccc;
  text-align: center;
}
.worklist-content-table th {
  font-size: 1.2rem;
  height: 3rem;
  background-color: #dfdfdf;
}
.worklist-content-table td {
  font-size: 1.2rem;
  height: 2.6rem;
}
.worklist-complete { /* 완료된 업무 */
  background-color: #00aa00;
}
.worklist-notComplete {
  background-color: #dc3545;
}

@media (width <= 1200px) {
  .content-area {
    width: 100%;
  }
}/* ==================================================== */


/* 업무 등록 페이지 */
.work-create-container {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}
.work-create-header {
  width: 100%;
  height: 8rem;
  align-content: center;
  text-align: center;
}
.work-create-content {
  width: 100%;
  height: calc(100% - 9rem);
  border: 1px solid #ccc;
  padding: 0 1rem;
}
.work-create-content-box {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.work-create-content-label {
  width: 10rem;
  height: 3rem;
  text-align: center;
  align-content: center;
  border-radius: 1rem;
  background-color: #333;
  color: white;
  font-size: 1.4rem;
}
.work-create-content-label.pointer {
  cursor: pointer;
}
.work-create-content-label.pointer:hover {
  text-shadow: 0 0 3px #fff;
}
.work-create-content-row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.gap1 { gap: 1rem; }
.gap2 { gap: 2rem; }
.work-create-content-row.mg1 { margin: 1rem 0; }
.work-create-content-col {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.work-create-content-box input[type=datetime-local],
.work-create-content-box input[type=date] {
  height: 3rem;
  padding-left: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px #ccc;
}
.work-create-content-box hr {
  margin: 0.6rem 0;
}
.work-content {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  font-family: sans-serif;
}
#work-create-btn {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  margin-left: auto;
  background-color: #6495ED;
  color: white;
  border-radius: 1rem;
  font-size: 1.5rem;
}
#work-create-btn:hover {
  background-color: #6495edaa;
}

@media (width <= 1200px) {
  .work-create-container {
    width: 100%;
  }
}

.close { display: none; }
.open { display: block; }
/* ============================================= */


/* 업무 상세보기 페이지 */
.detail-container {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1rem;
}
.detail-descript {
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}
.detail-descript .row-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.detail-descript .row-box h1 {
  width: 8rem;
  font-size: 1.5rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  background-color: #6495ED;
  color: white;
  border-radius: 1rem;
}
.detail-descript .row-box p {
  width: calc(100% - 9rem);
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.detail-content {
  width: 100%;
  height: calc(100% - 5rem);
  border: 1px solid #ccc;
}
.detail-header {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.8rem;
  background-color: #6495ED;
  color: white;
  padding-left: 1rem;
}
.detail-textarea {
  width: 100%;
  height: 30rem;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}
.detail-content-check {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

@media (width <= 1200px) {
  .detail-container {
    width: 100%;
  }
}