/* 폰트 */
@font-face {
    font-family: 'Juache';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-weight: 500;
  font-family: sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}
input[type=text],
input[type=password] {
  padding-left: 1rem;
  outline: none;
  border: none;
}