<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bscalendar.project.mapper.ProjectMapper">

	<!-- 프로젝트 생성, ID: projectCreate -->
	<insert id="projectCreate">
		INSERT INTO EG_TEAM
			(TEAM_NAME, TEAM_SDATE, TEAM_EDATE, MEM_ID)
		VALUES
			(#{team_name}, #{team_sdate}, #{team_edate}, #{mem_id})
	</insert>
	
	<!-- 프로젝트 조회(EG_MAPP 테이블에 INSERT할 IDX 가져오기) -->
	<select id="projectRead_idx">
		SELECT
			TEAM_IDX
		FROM
			EG_TEAM
		WHERE
			MEM_ID = #{mem_id} AND
			TEAM_NAME = #{team_name}
	</select>
	
	<!-- 프로젝트 생성(EG_MAPP 테이블) -->
	<insert id="projectCreate_mapp">
		INSERT INTO EG_MAPP
			(TEAM_IDX, MEM_ID)
		VALUES
			(#{team_idx}, #{mem_id})
	</insert>
	
	<!-- 프로젝트 조회(EG_MAPP), ID: projectRead -->
	<select id="projectRead" resultType="com.bscalendar.project.dto.ProjectDTO">
		SELECT
			MEMBER.MEM_ID,
			MEMBER.MEM_NAME,
			DATE_FORMAT(TEAM.TEAM_SDATE, '%y-%m-%d') AS TEAM_SDATE,
			DATE_FORMAT(TEAM.TEAM_EDATE, '%y-%m-%d') AS TEAM_EDATE,
			TEAM.TEAM_NAME,
			TEAM.TEAM_CON_FLAG,
			TEAM.TEAM_IDX,
			(
				SELECT
					count(*)
				FROM
					EG_MAPP SUB
				WHERE
					SUB.TEAM_IDX = TEAM.TEAM_IDX AND
					SUB.MAPP_DEL_FLAG = 'N'
			) AS MEMBER_COUNT
		FROM
			EG_MAPP MAPP, EG_TEAM TEAM, EG_MEMBER MEMBER
		WHERE
			MEMBER.MEM_ID = TEAM.MEM_ID AND
			MAPP.TEAM_IDX = TEAM.TEAM_IDX AND
			MAPP.MEM_ID = #{mem_id}
	</select>
	
	<!-- 프로젝트에 소속된 멤버 조회, ID: projectMembersRead -->
	<select id="projectMembersRead" resultType="com.bscalendar.project.dto.response.ProjectMemberDTO">
		SELECT
			MEMBER.MEM_NAME,
			MEMBER.MEM_ID
		FROM
			EG_MAPP MAPP, EG_MEMBER MEMBER, EG_TEAM TEAM
		WHERE
			MEMBER.MEM_ID = MAPP.MEM_ID AND
			MAPP.TEAM_IDX = TEAM.TEAM_IDX AND
			MAPP.TEAM_IDX = #{team_idx} AND
			MAPP.MAPP_DEL_FLAG = 'N'
	</select>
	
	<!-- 프로젝트에 소속된 멤버가 등록한 업무 리스트 조회, ID: projectMemberToWorksRead -->
	<select id="projectMemberToWorksRead" resultType="com.bscalendar.project.dto.response.MemberWorkDTO">
		SELECT
			W.WORKS_IDX,
			W.TEAM_IDX,
			W.MEM_ID,
			W.WORKS_COMMENT,
			W.WORKS_HIDE,
			W.WORKS_ARLAM,
			IFNULL(W.WORKS_ARLAM_DATE, '미등록') AS WORKS_ALRAM_DATE,
			W.WORKS_ARLAM_CONF,
			DATE_FORMAT(W.WORKS_SDATE, '%Y-%m-%d') AS WORKS_SDATE,
			DATE_FORMAT(W.WORKS_EDATE, '%Y-%m-%d') AS WORKS_EDATE,
			W.WORKS_FIN_FLAG,
			W.WORKS_DEL_FLAG
		FROM
			EG_MEMBER MEMBER, EG_TEAM TEAM, EG_WORKS W
		WHERE
			MEMBER.MEM_ID = W.MEM_ID AND
			W.TEAM_IDX = TEAM.TEAM_IDX AND
			W.MEM_ID = #{member_id} AND
			W.TEAM_IDX = #{team_idx} AND
			W.WORKS_HIDE = 'N';
	</select>
	
	<!-- 달력에 클릭한 날짜에 해당하는 업무 리스트 가져오기, ID: projectDateToWorksRead -->
	<select id="projectDateToWorksRead" resultType="com.bscalendar.project.dto.response.MemberWorkDTO">
		SELECT
			W.*, M.MEM_NAME
		FROM
			EG_WORKS W, EG_TEAM T, EG_MEMBER M
		WHERE
			W.TEAM_IDX = T.TEAM_IDX AND
			W.MEM_ID = M.MEM_ID AND
			W.TEAM_IDX = #{teamIdx} AND
			DATE_FORMAT(W.WORKS_SDATE, '%Y-%m-%d') <![CDATA[ <= ]]> #{sdate} AND
			DATE_FORMAT(W.WORKS_EDATE, '%Y-%m-%d') <![CDATA[ >= ]]> #{edate} AND
			W.WORKS_HIDE = 'N'
	</select>
	
	<!-- 멤버 이름 Search -->
	<select id="projectMembersSearch" resultType="com.bscalendar.project.dto.response.ProjectMemberDTO">
		SELECT
			*
		FROM
			EG_MEMBER
		WHERE
			MEM_NAME LIKE '${search}%' OR
			MEM_POSITION LIKE '${search}%' OR
			MEM_DEPART LIKE '${search}%'
	</select>
	
	<!-- 멤버 전원 검색 -->
	<select id="projectMemberAll" resultType="com.bscalendar.project.dto.response.ProjectMemberDTO">
		SELECT
			*
		FROM
			EG_MEMBER
		WHERE
			MEM_ID Not In (SELECT MEM_ID FROM EG_MAPP WHERE TEAM_IDX = #{team_idx} AND MAPP_DEL_FLAG = 'N')
	</select>
	
	<!-- 멤버 ID로 검색 -->
	<select id="memberToMemId" resultType="com.bscalendar.project.dto.response.ProjectMemberDTO">
		SELECT
			MEM_ID, MEM_NAME
		FROM
			EG_MEMBER
		WHERE
			MEM_ID = #{id};
	</select>
	
	<!-- 프로젝트에 멤버 추가 -->
	<insert id="projectMemberAdd">
		INSERT INTO EG_MAPP (TEAM_IDX, MEM_ID) VALUES (#{team_idx}, #{mem_id})
	</insert>
	
	<!-- 프로젝트에 소속된 멤버들 가져오기 -->
	<select id="projectSosocMember" resultType="com.bscalendar.project.dto.response.ProjectMemberDTO">
		SELECT
			MEM_ID, MAPP_DEL_FLAG
		FROM
			EG_MAPP
		WHERE
			TEAM_IDX = #{team_idx} AND
			MAPP_DEL_FLAG = 'N' AND
		ORDER BY
			MAPP_DEL_FLAG desc
	</select>
	
	<!-- 프로젝트 Update를 위한 기존 데이터 -->
	<select id="projectSettingRead" resultType="com.bscalendar.project.dto.ProjectDTO">
		SELECT
			*
		FROM
			EG_TEAM
		WHERE
			TEAM_IDX = #{team_idx}
	</select>
	
	<!-- 프로젝트 업데이트 (기본 프로젝트 정보만) -->
	<update id="projectSettingUpdate">
		UPDATE EG_TEAM SET
			TEAM_EDATE = #{team_edate},
			TEAM_NAME = #{team_name}
		WHERE
			TEAM_IDX = #{team_idx}
	</update>
	
	<!-- 프로젝트 Delete -->
	<update id="projectDelete">
		UPDATE EG_TEAM SET
			TEAM_CON_FLAG = 'Y'
		WHERE
			TEAM_IDX = #{team_idx}
	</update>
</mapper>