<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bscalendar.work.mapper.WorkMapper">
	<update id="workUpdate">
		UPDATE
			EG_WORKS
		SET
			ALRAM_FIN_FLAG = 'Y'
		WHERE
			WORKS_IDX = #{works_idx}
	</update>
	
	<select id="findWorkToIdx" resultType="com.bscalendar.work.dto.WorkDTO">
		SELECT
			*
		FROM
			EG_WORKS
		WHERE
			WORKS_IDX = #{works_idx}
	</select>
</mapper>