<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bscalendar.work.mapper.WorkMapper">
	<insert id="workCreate">
			INSERT INTO EG_WORKS
				(team_idx, mem_id, works_comment, works_hide, works_arlam,
				 works_arlam_date, works_sdate, works_edate)
			VALUES
				(#{team_idx}, #{mem_id}, #{works_comment}, #{works_hide}, #{works_arlam},
			   #{works_arlam_date}, #{works_sdate}, #{works_edate})
	</insert>
	<update id="workUpdate">
		UPDATE
			EG_WORKS
		SET
			WORKS_FIN_FLAG = #{works_fin_flag}
		WHERE
			WORKS_IDX = #{works_idx}
	</update>
	
	<select id="findWorkToIdx" resultType="com.bscalendar.work.dto.WorkDTO">
		SELECT
			A.*,
			B.mem_name
		FROM EG_WORKS A JOIN EG_MEMBER B
		ON A.mem_id = B.mem_id	
		WHERE
			WORKS_IDX = #{works_idx}
	</select>
	
 	<select id="getWorkDetail" resultType="com.bscalendar.work.dto.WorkDTO">
	 SELECT 
	 	 member.mem_name,
	 	 works.mem_id,
	 	 team.team_name,
	 	 team.team_idx,
	 	 DATE_FORMAT(team.team_regdate, '%Y-%m-%d') AS team_regdate,
	 	 works.works_idx,
	 	 works.works_comment,
	 	 works.works_hide,
	 	 works.works_arlam,
	 	 works.works_arlam_date,
	 	 works.works_sdate,
	 	 works.works_edate
	 FROM EG_WORKS works
	 JOIN EG_TEAM team ON works.team_idx = team.team_idx
	 JOIN EG_MEMBER member ON team.mem_id = member.mem_id 
	 WHERE works.works_idx = #{works_idx}
	</select> 
	<select id="findToDateWorks" resultType="com.bscalendar.project.dto.response.MemberWorkDTO">
		SELECT
			W.*, M.MEM_NAME
		FROM
			EG_WORKS W, EG_TEAM T, EG_MEMBER M
		WHERE
			W.TEAM_IDX = T.TEAM_IDX AND
			W.MEM_ID = M.MEM_ID AND
			W.TEAM_IDX = #{team_idx} AND
			DATE_FORMAT(W.WORKS_SDATE, '%Y-%m-%d') <![CDATA[ <= ]]> #{date} AND
			DATE_FORMAT(W.WORKS_EDATE, '%Y-%m-%d') <![CDATA[ >= ]]> #{date} AND
			W.WORKS_HIDE = 'N'
	</select>
</mapper>