<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bscalendar.work.mapper.WorkMapper">
	<update id="workUpdate">
		UPDATE
			EG_WORKS
		SET
			ALRAM_FIN_FLAG = 'Y'
		WHERE
			WORKS_IDX = #{works_idx}
	</update>
	
	<select id="findWorkToIdx" resultType="com.bscalendar.work.dto.WorkDTO">
		SELECT
			*
		FROM
			EG_WORKS
		WHERE
			WORKS_IDX = #{works_idx}
	</select>
	
	<select id="findToDateWorks" resultType="com.bscalendar.project.dto.response.MemberWorkDTO">
		SELECT
			W.*, M.MEM_NAME
		FROM
			EG_WORKS W, EG_TEAM T, EG_MEMBER M
		WHERE
			W.TEAM_IDX = T.TEAM_IDX AND
			W.MEM_ID = M.MEM_ID AND
			W.TEAM_IDX = #{team_idx} AND
			DATE_FORMAT(W.WORKS_SDATE, '%Y-%m-%d') <![CDATA[ <= ]]> #{date} AND
			DATE_FORMAT(W.WORKS_EDATE, '%Y-%m-%d') <![CDATA[ >= ]]> #{date} AND
			W.WORKS_HIDE = 'N'
	</select>
	
</mapper>